In [4]:
import numpy as np
import pandas as pd
from scipy.optimize import curve_fit

In [6]:
data = pd.DataFrame()
data['l'] = [ 1.65, 2.26, 2.98, 3.63, 4.24, 4.89, 5.55, 6.19, 
            6.84, 7.49, 8.16, 8.78, 9.42, 10.11, 10.75, 11.39]
data['diff'] = data['l'].diff()


data

        l  diff
0    1.65   NaN
1    2.26  0.61
2    2.98  0.72
3    3.63  0.65
4    4.24  0.61
5    4.89  0.65
6    5.55  0.66
7    6.19  0.64
8    6.84  0.65
9    7.49  0.65
10   8.16  0.67
11   8.78  0.62
12   9.42  0.64
13  10.11  0.69
14  10.75  0.64
15  11.39  0.64